.idea
/test/web/bundles/
/test/app/bootstrap.php.cache
/test/app/cache/*
/test/app/config/parameters.yml
/test/app/logs/*
!/test/app/cache/.gitkeep
!/testapp/logs/.gitkeep
/test/app/phpunit.xml
/test/build/
/test/vendor/
/test/bin/
/test/composer.phar


/sf-blog/web/bundles/
/sf-blog/app/bootstrap.php.cache
/sf-blog/app/cache/*
/sf-blog/app/config/parameters.yml
/sf-blog/app/logs/*
!sf-blog/app/cache/.gitkeep
!sf-blog/app/logs/.gitkeep
/sf-blog/app/phpunit.xml
/sf-blog/build/
/sf-blog/vendor/
/sf-blog/bin/
/sf-blog/composer.phar
/sf-blog/.idea/

/sf-eshop/web/bundles/
/sf-eshop/app/bootstrap.php.cache
/sf-eshop/app/cache/*
/sf-eshop/app/config/parameters.yml
/sf-eshop/app/logs/*
!sf-eshop/app/cache/.gitkeep
!sf-eshop/app/logs/.gitkeep
/sf-eshop/app/phpunit.xml
/sf-eshop/build/
!sf-eshop/var/data
/sf-eshop/var/data/*
!sf-eshop/var/data/.gitkeep
/sf-eshop/vendor/
/sf-eshop/bin/

/sf-test/web/bundles/
/sf-test/app/bootstrap.php.cache
/sf-test/app/cache/*
/sf-test/app/config/parameters.yml
/sf-test/app/logs/*
!sf-test/app/cache/.gitkeep
!sf-test/app/logs/.gitkeep
/sf-test/app/phpunit.xml
/sf-test/build/
/sf-test/vendor/
/sf-test/bin/
/sf-test/composer.phar

/sf-comparator/web/bundles/
/sf-comparator/app/bootstrap.php.cache
/sf-comparator/app/cache/*
/sf-comparator/app/config/parameters.yml
/sf-comparator/app/logs/*
!sf-comparator/app/cache/.gitkeep
!sf-comparator/app/logs/.gitkeep
/sf-comparator/app/phpunit.xml
/sf-comparator/build/
/sf-comparator/vendor/
/sf-comparator/bin/
/sf-comparator/composer.phar
*sf-comparator/.ai
