.idea
/test/web/bundles/
/test/app/bootstrap.php.cache
/test/app/cache/*
/test/app/config/parameters.yml
/test/app/logs/*
!/test/app/cache/.gitkeep
!/testapp/logs/.gitkeep
/test/app/phpunit.xml
/test/build/
/test/vendor/
/test/bin/
/test/composer.phar


/sf-blog/web/bundles/
/sf-blog/app/bootstrap.php.cache
/sf-blog/app/cache/*
/sf-blog/app/config/parameters.yml
/sf-blog/app/logs/*
!sf-blog/app/cache/.gitkeep
!sf-blog/app/logs/.gitkeep
/sf-blog/app/phpunit.xml
/sf-blog/build/
/sf-blog/vendor/
/sf-blog/bin/
/sf-blog/composer.phar
/sf-blog/.idea/