BlogBundle\Entity\User:
    type: entity
    table: null
    repositoryClass: BlogBundle\Repository\UserRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        username:
            type: string
            length: '25'
            unique: true
        password:
            type: string
            length: '64'
        email:
            type: string
            length: '60'
            unique: true
        isActive:
            type: boolean
        roles:
            type: array
            length: 255
    lifecycleCallbacks: {  }
