parameters:
    blog.speaker.name: 'Heisenberg'

services:
    blog.twig.blog_extension:
        class: BlogBundle\Twig\BlogExtension
        tags:
            - { name: twig.extension }
    blog.speaker:
        class: BlogBundle\Service\Speaker
        arguments: ['@blog.name_registry']
    blog.name_registry:
        class: BlogBundle\Service\NameRegistry
